<header class="header">

	<div class="blog-header" id="header">
		<div class="section-layout-wrapper">
			<div class="site-meta">
				<div class="nav-toggle" id="nav_toggle">
					<div class="toggle-box">
						<div class="line line-top"></div>
						<div class="line line-center"></div>
						<div class="line line-bottom"></div>
					</div>
				</div>
				<div class="site-title">
					<a href="/" class="brand">
						<span><%= themeConfig.siteName %></span>
					</a>
				</div>
				<p class="subtitle"></p>
				<nav class="site-nav" id="site_nav">
					<% menus.forEach(function(menu) { %>
					<li class="nav-item <%= active&&menu === 'home' ?'nav-item-active':'' %>">
						<a href="<%= menu.link %>">
							<!-- <i class="iconfont icon-home"></i> -->
							<%=menu.name %>
						</a>
					</li>
					<% }); %>
				</nav>
				<input type="serch" id="serch" placeholder="搜索其实很简单">
			</div>

		</div>
	</div>
<!-- <script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?3e11339a177ba7e34848b1f198c46e5c";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script> -->
<%-site.customConfig.baidutongji%>

</header>
<script type="text/javascript">

	let showNav = true;

	let navToggle = document.querySelector('#nav_toggle'),
		siteNav = document.querySelector('#site_nav');

	function navClick() {
		navToggle.classList.toggle('nav-toggle-active');
		siteNav.classList.toggle('nav-menu-active');
	}

	navToggle.addEventListener('click', navClick);  
</script>